@model FiveWonders.core.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home Page";

    string jumboBG = (!String.IsNullOrWhiteSpace(Model.homePageData.mWelcomeImgUrl)
        ? (Url.Content("~/Home/" + Model.homePageData.mWelcomeImgUrl))
        : "");

    string jumboLogo = (!String.IsNullOrWhiteSpace(Model.homePageData.mHomePageLogoUrl)
        ? (Url.Content("~/Content/Home/" + Model.homePageData.mHomePageLogoUrl))
        : "");

    string promoImg1 = (!String.IsNullOrWhiteSpace(Model.promo1.promoImg)
        ? (Url.Content("~/Content" + Model.promo1.promoImg))
        : "");

    string promoImg2 = (!String.IsNullOrWhiteSpace(Model.promo2.promoImg)
        ? (Url.Content("~/Content" + Model.promo2.promoImg))
        : "");

    string promoClassNames = (!String.IsNullOrWhiteSpace(Model.promo1.promoLink)
        && !String.IsNullOrWhiteSpace(Model.promo1.promoLink))
        ? "col-lg-6 col-md-6 col-sm-6 col-xs-6 category-container"
        : "col-lg-12 col-md-12 col-sm-12 col-xs-12 category-container";

    string greetingBoxClassName = !String.IsNullOrWhiteSpace(Model.homePageData.mCarouselImgs)
        ? "col-lg-4"
        : "col-lg-12";
}

<div class="col-lg-12" id="home-page">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-page-greeting-container">

        @if (Model.homePageData.mEnableWelcomeImg)
        {
            <div class="@greetingBoxClassName col-md-12 col-sm-12 col-xs-12 hp-greeting-box">
                <div class="hp-greeting" style="background-image:url(@Url.Content("~/Home/" + Model.homePageData.mWelcomeImgUrl));">
                    <div class="home-page-greeting-shade-cover" style="background-color: rgba(0,0,0,@Model.homePageData.welcomeGreetingImgShader); ">
                        @Html.Raw(Model.homePageData.mHomePageGreeting)
                        <p class="btn btn-primary redi-btn"><a style="text-decoration:none; color: white;" href="@Model.welcomePageUrl">View Products</a></p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="@greetingBoxClassName col-md-12 col-sm-12 col-xs-12 hp-greeting-box">
                <div class="home-page-greeting-shade-cover" style="background-color: rgba(0,0,0,@Model.homePageData.welcomeGreetingImgShader);">
                    @Html.Raw(Model.homePageData.mHomePageGreeting)
                    <p class="btn btn-primary redi-btn"><a style="text-decoration:none; color: white;" href="@Model.welcomePageUrl">View Products</a></p>
                </div>
            </div>
        }

        @if (!String.IsNullOrWhiteSpace(Model.homePageData.mCarouselImgs))
        {
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 hp-carousel">

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.homePageData.mCarouselImgs.Split(',').Length; i++)
                        {
                            string liClassTag = i == 0 ? "active" : "";

                            <li data-target="#myCarousel" data-slide-to="@i" class="@liClassTag"></li>
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @{
                            int carouselImgIndex = 0;
                        }

                        @foreach (string imgFileName in Model.homePageData.mCarouselImgs.Split(','))
                        {
                            string itemClassTag = carouselImgIndex++ == 0 ? "item active" : "item";
                            <div class="@itemClassTag img-test"
                                 style="background-image: url(@Url.Content("~/Content/Home/" + imgFileName));">
                            </div>
                        }
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 category-display">
        <div>
            @if (!String.IsNullOrWhiteSpace(Model.promo1.promoLink) && !String.IsNullOrWhiteSpace(promoImg1))
            {
                <div class="@promoClassNames">
                    <a href="@Model.promo1.promoLink">
                        <div class="single-category" style="background-image: url(@promoImg1);">
                            <div style="background-color: rgba(0,0,0,@Model.promo1.promoImgShader);" class="category-img-cover">
                                <h1 class="category-title" style="color: @Model.promo1.promoNameColor;">@Model.promo1.promoName</h1>
                            </div>
                        </div>
                    </a>
                </div>
            }

            @if (!String.IsNullOrWhiteSpace(Model.promo2.promoLink) && !String.IsNullOrWhiteSpace(promoImg2))
            {
                <div class="@promoClassNames">
                    <a href="@Model.promo2.promoLink">
                        <div class="single-category" style="background-image: url(@promoImg2);">
                            <div style="background-color: rgba(0,0,0,@Model.promo2.promoImgShader);" class="category-img-cover">
                                <h1 class="category-title" style="color: @Model.promo2.promoNameColor;">@Model.promo2.promoName</h1>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="col-lg-12 section-top-three">
        <div class="thing-cover">

            <h1>Latest Products</h1>

            <div class="top-three-products">
                @{string classTags = "col-lg-4 col-md-4 col-sm-4 col-xs-4"; }

                @for (int i = 0; i < Model.top3Products.Count; i++)
                {
                    var product = Model.top3Products[i];
                    string[] currentImageFiles = product.mImage.Split(',');
                    string firstImage = currentImageFiles[0];

                    <div class="@classTags fw-card-container">
                        <a href="/products/item/@product.mID" class="fw-card-a">
                            <div class="fw-product-container">
                                <div class="fw-card">
                                    <h3 class="fw-card-title">@product.mName</h3>
                                    <img alt="@product.mName"
                                         src="@Url.Content("~/Content/ProductImages/" + firstImage)"
                                         class="fw-card-img" />
                                    <h4 class="fw-card-price">$@product.mPrice</h4>
                                    <p class="btn btn-primary btn-lg fw-card-btn">View Product</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a class=" btn btn-primary btn-lg redi-btn" href="@Url.Action("Index", "Products")">View All Products</a>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-services-container" style="margin-bottom: 4vh;">
        <a href="/Home/Contact/" style="text-decoration: none;">
            <div class="home-services-data" style="background-image: url(@Url.Content("~/Content/Home/" + Model.homePageData.mHomePageLogoUrl));">
                <div class="contact-img-cover" style="background-color: rgba(0,0,0,.74);">
                    <h1 style="color: lightgoldenrodyellow; text-align: center;">Customize with us!</h1>
                    <p class="btn btn-lg btn-default redi-btn">Contact</p>
                </div>
            </div>
        </a>
    </div>

    @if (Model.top3IGPosts.Count > 0)
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-gallery-container" >
            <h1 class="col-lg-12 home-gallery-container-title">Gallery</h1>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-gallery-imgs-container">
                <a href="/Gallery/" class="container home-gallery-imgs-anchor">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 home-gallery-solo-img-container">
                        <div class="col-lg-12 home-gallery-img home-gallery-solo-img"
                             style="
                                background-image: url( @Url.Content("~/Content/GalleryImages/" + Model.top3IGPosts[0].mImageFile) )">
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 home-gallery-four-group-container">
                        @for (int i = 1; i < Model.top3IGPosts.Count; i++)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 home-gallery-one-of-four-container">
                                <div class="home-gallery-img home-gallery-group-img"
                                     style="
                                    background-image: url(@Url.Content("~/Content/GalleryImages/" + Model.top3IGPosts[i].mImageFile))">
                                </div>
                            </div>
                        }
                    </div>
                </a>
            </div>
        </div>
    }
</div>

@section Pagecss{
    <link href="~/Content/5WondersCss/HomePageCss.css"
          rel="stylesheet" type="text/css" />

    <link href="~/Content/5WondersCss/Card.css"
          rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

}