@model FiveWonders.core.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home Page";

    string jumboBG = (!String.IsNullOrWhiteSpace(Model.homePageData.mWelcomeImgUrl)
        ? (Url.Content("~/Home/" + Model.homePageData.mWelcomeImgUrl))
        : "");

    string jumboLogo = (!String.IsNullOrWhiteSpace(Model.homePageData.mHomePageLogoUrl)
        ? (Url.Content("~/Content/Home/" + Model.homePageData.mHomePageLogoUrl))
        : "");

    string promoImg1 = (!String.IsNullOrWhiteSpace(Model.promo1.promoImg)
        ? (Url.Content("~/Content" + Model.promo1.promoImg))
        : "");

    string promoImg2 = (!String.IsNullOrWhiteSpace(Model.promo2.promoImg)
        ? (Url.Content("~/Content" + Model.promo2.promoImg))
        : "");

    string promoClassNames = (!String.IsNullOrWhiteSpace(Model.promo1.promoLink)
        && !String.IsNullOrWhiteSpace(Model.promo1.promoLink))
        ? "col-lg-6 col-md-6 col-sm-6 col-xs-6 category-container"
        : "col-lg-12 col-md-12 col-sm-12 col-xs-12 category-container";
}

@if (!String.IsNullOrWhiteSpace(jumboBG))
{
    <div class="jumbotron jumbo-img" style="background-image: url(@jumboBG);">

        @if(!String.IsNullOrWhiteSpace(jumboLogo))
        {
            <img src="@jumboLogo" alt="logo" class="jumbo-logo jumbo-item" />
        }

        <div class="jumbo-message">
            @Html.Raw(Model.homePageData.mHomePageGreeting)
        </div>

        <p style="text-align:left;" class="jumbo-item jumbo-btn"><a href="@Model.welcomePageUrl" class="btn btn-primary">View Products &raquo;</a></p>
    </div>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 category-display">
    <div>
        @if(!String.IsNullOrWhiteSpace(Model.promo1.promoLink) && !String.IsNullOrWhiteSpace(promoImg1))
        {
            <div class="@promoClassNames">
                <a href="@Model.promo1.promoLink">
                    <div class="single-category" style="background-image: url(@promoImg1);">
                        <div style="background-color: rgba(0,0,0,@Model.promo1.promoImgShader);" class="category-img-cover">
                            <h2 style="color: @Model.promo1.promoNameColor;">@Model.promo1.promoName</h2>
                            <p class="btn btn-lg btn-default redi-btn">Shop @Model.promo1.promoName</p>
                        </div>
                    </div>
                </a>
            </div>
        }

        @if(!String.IsNullOrWhiteSpace(Model.promo2.promoLink) && !String.IsNullOrWhiteSpace(promoImg2))
        {
            <div class="@promoClassNames">
                <a href="@Model.promo2.promoLink">
                    <div class="single-category" style="background-image: url(@promoImg2);">
                        <div style="background-color: rgba(0,0,0,@Model.promo2.promoImgShader);" class="category-img-cover">
                            <h2 style="color: @Model.promo2.promoNameColor;">@Model.promo2.promoName</h2>
                            <p class="btn btn-lg btn-default redi-btn">Shop @Model.promo2.promoName</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<div class="section-top-three top-p ">
    <div class="thing-cover">

        <h1>Latest Products</h1>

        <div class="top-three-products">
            @{string classTags = "col-lg-4 col-md-4 col-sm-4 col-xs-12"; }

            @for (int i = 0; i < Model.top3Products.Count; i++)
            {
                var product = Model.top3Products[i];
                string[] currentImageFiles = product.mImage.Split(',');
                string firstImage = currentImageFiles[0];

                <div class="@classTags fw-card-container">
                    <a href="/products/item/@product.mID" class="fw-card-a">
                        <div class="fw-product-container">
                            <div class="fw-card">
                                <h3 class="fw-card-title">@product.mName</h3>
                                <img 
                                     alt="@product.mName"
                                     src="@Url.Content("~/Content/ProductImages/" + firstImage)"
                                     class="fw-card-img" />
                                <p class="fw-card-price">$@product.mPrice</p>
                                <p class="btn btn-primary btn-lg fw-card-btn">View Product</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <a class="btn btn-primary btn-lg redi-btn" href="@Url.Action("Index", "Products")">View All Products</a>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 category-container home-services-container" style="margin-bottom: 4vh; margin-bottom: 0;">
    <a href="/services/">
        <div class="single-category" style="height: 35vh; background-attachment: fixed; background-image: url(https://i0.wp.com/onaircode.com/wp-content/uploads/2019/09/css3-gradient.jpg?resize=1024%2C588&ssl=1);">
            <div class="category-img-cover" style="background-color: rgba(0,0,0,.64);">
                <h2 style="color: lightgoldenrodyellow;">Customize with us!</h2>
                <p class="btn btn-lg btn-default redi-btn">Contact</p>
            </div>
        </div>
    </a>
</div>


<div class="col-lg-12 container" style="background-color: rgba(250, 235, 215, .7); display: flex; flex-direction: row; flex-wrap: wrap; padding: 2vh 12vw 3vh;" >
    <h1 class="col-lg-12" style="text-align: center; letter-spacing: 2px; font-size: 5vh;">Gallery</h1>

    <div class="col-lg-12" style=" background-color: rgba(255,235,205, 1); display: flex; flex-direction: row; margin: 0;">
        <div class="col-lg-4" style="margin: 0; padding: 1rem; border: 2px white solid; align-self: center;">
            <div
                 class="col-lg-12"
                 style="
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat; 
                        height: calc(50vh + 4rem);
                        border-radius: 15px;
                        margin: 0;
                        background-image: url( @Url.Content("~/Content/GalleryImages/" + Model.top3IGPosts[0].mImageFile) )">

            </div>
        </div>

        <div class="col-lg-8" style="display: flex; flex-wrap: wrap; flex-direction: row; padding: 0;">
            @for(int i = 1; i < Model.top3IGPosts.Count; i++)
            {
                <div class="col-lg-6" style="border: solid white 2px; display: flex; padding:1rem; margin: 0;">
                    <div
                         style="
                            align-self: center;
                            width: 100%;
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            height: 25vh;
                            border-radius: 15px;
                            background-image: url(@Url.Content("~/Content/GalleryImages/" + Model.top3IGPosts[i].mImageFile))">
                    </div>
                </div>
            }
        </div>
    </div>
</div>



