@model FiveWonders.core.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbo-img" style="background-image: url(@Model.homePageData.mWelcomeImgUrl);">
    <img src="~/Content/Home/5 Wonders Balloons  Logo_transparent-01.png" alt="logo" class="jumbo-logo jumbo-item" />

    <h1 style="text-align:left; text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;" class="jumbo-item">Celebrate the Grand Opening</h1>
    <h1 style="text-align:left; text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;" class="jumbo-item">With us!</h1>
    <p style="text-align:left;" class="jumbo-item jumbo-btn"><a href="@Model.homePageData.mWelcomeBtnUrl" class="btn btn-primary btn-lg">View Products &raquo;</a></p>
</div>

<div class="section-top-three category-display">
    <div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 category-container">
            <a href="/products/?category=balloons">
                <div class="single-category" style="background-image: url(https://i.ytimg.com/vi/iELjLUVtjLw/maxresdefault.jpg);">
                    <div class="category-img-cover">
                        <h2>Balloons</h2>
                        <p class="btn btn-lg btn-default redi-btn">Shop Balloons</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 category-container">
            <a href="/products/?category=clothing">
                <div class="single-category" style="background-image: url(https://wpcdn.us-east-1.vip.tn-cloud.net/www.channel3000.com/content/uploads/2019/12/variety-of-clothes-hanging-on-rack_1509457933825_9166901_ver1-0-1024x576.jpg);">
                    <div class="category-img-cover">
                        <h2>Clothing</h2>
                        <p class="btn btn-lg btn-default redi-btn">Shop Clothing</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="section-top-three">

    <h1>Latest Products</h1>

    <div class="top-three-products">
        @{string classTags = "col-lg-4 col-md-4 col-sm-4 col-xs-12"; }

        @for (int i = 0; i < Model.top3Products.Count; i++)
        {
            var product = Model.top3Products[i];
            string[] currentImageFiles = product.mImage.Split(',');
            string firstImage = currentImageFiles[0];

            <div class="@classTags fw-card-container">
                <a href="/products/item/@product.mID" class="fw-card-a">
                    <div class="fw-product-container">
                        <div class="fw-card">
                            <h3 class="fw-card-title">@product.mName</h3>
                            <img 
                                 alt="@product.mName"
                                 src="@Url.Content("~/Content/ProductImages/" + firstImage)"
                                 class="fw-card-img" />
                            <p class="fw-card-price">$@product.mPrice</p>
                            <p class="btn btn-primary btn-lg fw-card-btn">View Product</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <a class="btn btn-primary btn-lg redi-btn" href="@Url.Action("Index", "Products")">View All Products</a>
</div>

<div class="section-top-three" id="ig-top-three">

    <h1>Follow our <a style="color: black; text-decoration: underline;" href="https://www.instagram.com/5wondersballoons/">Instagram</a></h1>

    <div class="top-three-products">

        @for (int i = 0; i < Model.top3IGPosts.Count; i++)
        {
            var post = Model.top3IGPosts[i];

            string IGclassTags = "col-lg-3 col-md-3 col-sm-3 col-xs-6";

            <div class="@IGclassTags ig-container">
                <img class="ig-img"
                     src="https://cdn.cms.prod.nypr.digital/images/ballons102119.2e16d0ba.fill-661x496.jpg"
                     alt="IG" />
            </div>
        }

    </div>

    <a class="btn btn-primary btn-lg redi-btn" href="@Url.Action("Index", "Gallery")">View Our Gallery</a>
</div>

