@model FiveWonders.core.Models.HomePage
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbo-img" style="background-image: url(@Model.mWelcomeImgUrl);">
    <h1>Five Wonders Party</h1>
    <p><a href="@Model.mWelcomeBtnUrl" class="btn btn-primary btn-lg">View Products &raquo;</a></p>
    <img src="~/Content/Home/5 Wonders Balloons  Logo_transparent-01.png" alt="logo" class="jumbo-logo" />
</div>

<div class="section-top-three">

    <h1>Latest Products</h1>

    <div class="top-three-products">
        @for(int i = 0; i < ViewBag.top3Products.Length; i++)
        {
            var product = ViewBag.top3Products[i];
            string classTags = (i == 0) ? "col-lg-4 col-md-12 col-sm-12 col-xs-12 card-holder" 
                : "col-lg-4 col-md-6 col-sm-6 col-xs-12 card-holder";
        
            <div class="@classTags">
                <div class="product-cards">
                    <img class="fw-card-image"
                         src="@ViewBag.instagramPosts[i].mImageURL"
                         alt="@product.mName" />
                    <h2>@product.mName</h2>
                    <p><a class="btn btn-default" href="/products/item/@product.mID">Learn more &raquo;</a></p>
                </div>
            </div>
        }
    </div>

    <a class="btn btn-primary btn-lg redi-btn" href="@Url.Action("Index", "Products")">View All Products</a>
</div>

<div class="section-top-three" id="ig-top-three">

    <h1>Follow our <a href="https://www.instagram.com/5wondersballoons/">Instagram</a></h1>

    <div class="top-three-products">

        @foreach(var post in ViewBag.instagramPosts)
        {
            <div class="col-md-4 col-sm-12 col-xs-12 ig-container">
                <img class="ig-img"
                     src="@post.mImageURL"
                     alt="IG" />
            </div>
        }

    </div>

    <a class="btn btn-primary btn-lg redi-btn" href="@Url.Action("Index", "Gallery")">View Our Gallery</a>
</div>