@model FiveWonders.core.Models.Category

<div id="products-page">
    <div class="pp-title-container"
         style="background-image: url(@Url.Content("~/Content/CategoryImages/" + Model.mImgUrL));"
    >
        <div id="bannerImg-cover-input" style="background-color: rgba(0,0,0, @Model.mImgShaderAmount);" class="pp-title-dark-layer">
            <h2 style="color: @Model.bannerTextColor" id="category-title-input" class="pp-title-text">@Model.mCategoryName</h2>
        </div>
    </div>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />

        @if (ViewBag.productsWithCategory.Length != 0)
        {
            <h3>Can't delete category <strong>@Html.DisplayFor(model => model.mCategoryName)</strong></h3>
            <h2>Update the Category field for the following products:</h2>

            <table>
                @foreach (var product in ViewBag.productsWithCategory)
                {
                    <tr>
                        <td>
                            <a href="/ProductManager/Edit/@product.mID">@product.mName</a>
                        </td>
                    </tr>
                }
            </table>
        }

        <div class="form-actions no-color">
            @if (ViewBag.productsWithCategory.Length == 0)
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <input type="submit" value="Delete" class="btn btn-default" />
                }
            }
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>