@model FiveWonders.core.Models.Category

@{ string img = Model.mImageType + Convert.ToBase64String(Model.mImage); }

<div id="products-page">
    <div class="pp-title-container"
         style="background-image: url(@img);">
        <div id="bannerImg-cover-input" style="background-color: rgba(0,0,0, @Model.mImgShaderAmount);" class="pp-title-dark-layer">
            <h2 style="color: @Model.bannerTextColor" id="category-title-input" class="pp-title-text">@Model.mCategoryName</h2>
        </div>
    </div>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />

        @if (ViewBag.productsWithCategory.Length != 0 || ViewBag.isAPromoOnHomePage || ViewBag.isHomePageRedirectBtn)
        {
            <h3>Can't delete category <strong>@Html.DisplayFor(model => model.mCategoryName)</strong></h3>
        }

        @if (ViewBag.productsWithCategory.Length != 0)
        {
            <br />
            <h2>Update the Category field for the following products:</h2>

            <table>
                @foreach (var product in ViewBag.productsWithCategory)
                {
                    <tr>
                        <td>
                            <a href="/ProductManager/Edit/@product.mID">@product.mName</a>
                        </td>
                    </tr>
                }
            </table>
        }

        @if (ViewBag.isAPromoOnHomePage)
        {
            <br />
            <h2>Category is currently promoted on the Home Page.</h2>
            <p>Remove the Category as a category to promote on the Home Page Manager.</p>
            <a href="/HomeManager/">Go to Home Page Manager</a>
        }

        @if (ViewBag.isHomePageRedirectBtn)
        {
            <br />
            <h2>Category is currently promoted as the Home Page's Greeting button.</h2>
            <p>Remove the Category from the Home Page Manager's Button Url.</p>
            <a href="/HomeManager/">Go to Home Page Manager</a>
        }

        <div class="form-actions no-color">
            @if (ViewBag.productsWithCategory.Length == 0 && !ViewBag.isAPromoOnHomePage && !ViewBag.isHomePageRedirectBtn)
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <input type="submit" value="Delete" class="btn btn-default" />
                }
            }
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>

@section Pagecss
{
    <link href="~/Content/5WondersCss/ProductList.css"
          rel="stylesheet" type="text/css" />
}