@model IEnumerable<FiveWonders.core.Models.Category>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mTimeEntered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mTimeEntered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.mID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.mID })
        </td>
    </tr>
}

</table>
