@model IEnumerable<FiveWonders.core.Models.SocialMedia>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mTimeEntered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mIcon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isCommunicative)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string iconSrc = item.mIcon != null
        ? item.mIconType + Convert.ToBase64String(item.mIcon)
        : "";

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mTimeEntered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mUrl)
        </td>
        <td>
            <img alt="@item.mID" src="@iconSrc" style="height: 25px; width: auto;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isCommunicative)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Managers", "Index", "Managers")
</div>