@model FiveWonders.core.ViewModels.HomePageManagerViewModel

@{
    string logo = Model.homePagedata.mWebsiteLogo != null
        ? Model.homePagedata.mWebsiteLogoImgType + Convert.ToBase64String(Model.homePagedata.mWebsiteLogo)
        : "";

    string homeBg = Model.homePagedata.mWelcomeImgID != null
        ? Model.homePagedata.mWelcomeImgType + Convert.ToBase64String(Model.homePagedata.mWelcomeImgID)
        : "";

    string defaultProductBanner = Model.homePagedata.mDefaultProductListImg != null
        ? Model.homePagedata.mDefaultProductListImgType + Convert.ToBase64String(Model.homePagedata.mDefaultProductListImg)
        : "";
}

<div class="col-lg-12" id="home-page">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-page-greeting-container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hp-greeting-box">
            <div class="hp-greeting" id="greetingImgDestination" style="background-image:url(@homeBg);">
                <div class="home-page-greeting-shade-cover" id="greeting-shade" style="background-color: rgba(0,0,0,@Model.homePagedata.welcomeGreetingImgShader);">
                    <div id="home-prev-text">@Html.Raw(Model.homePagedata.mHomePageGreeting)</div>
                    <p class="btn btn-primary redi-btn"><a style="text-decoration:none; color: white;">View Products</a></p>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Index", "HomeManager", FormMethod.Post, new { encType = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.homePagedata.mHomePageGreeting, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.homePagedata.mHomePageGreeting, new { @Id = "homeTextPrev" })
                    @Html.ValidationMessageFor(model => model.homePagedata.mHomePageGreeting, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.homePagedata.mWebsiteLogo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="homeLogo" class="form-control" accept="image/png,image/jpg,image/jpeg" />
                    @Html.ValidationMessageFor(model => model.homePagedata.mWebsiteLogo, "", new { @class = "text-danger" })

                    @if (!String.IsNullOrWhiteSpace(logo))
                    {
                        <div>
                            <img alt="logo" src="@logo" style="height: 15rem; width: auto;"/>
                        </div>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.homePagedata.mEnableWelcomeImg, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.homePagedata.mEnableWelcomeImg, new { htmlAttributes = new { @Id = "greetingImgBtn", @oninput = "toggleBgImg()" } })
                    @Html.ValidationMessageFor(model => model.homePagedata.mEnableWelcomeImg, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="greeting-img-container">
                @Html.LabelFor(model => model.homePagedata.mWelcomeImgID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-2 col-md-10">
                    <input oninput="setGreetingImg()" type="file" id="greetingImg" name="homeImg" class="form-control" accept="image/png,image/jpg,image/jpeg" />
                    @Html.ValidationMessageFor(model => model.homePagedata.mWelcomeImgID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.homePagedata.welcomeGreetingImgShader, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-2 col-md-10">
                    @Html.EditorFor(model => model.homePagedata.welcomeGreetingImgShader, new { htmlAttributes = new { @oninput = "setGreetingImg()", @class = "form-control", @id = "greetingShader", @type = "range", @min = "0", @max = "1", @step = "0.01", @style = "padding: 0;" } })
                    @Html.ValidationMessageFor(model => model.homePagedata.welcomeGreetingImgShader, "", new { @class = "text-danger" })
                </div>
            </div>

            @if (!String.IsNullOrWhiteSpace(Model.homePagedata.mCarouselImgIDs))
            {
                <div class="form-group">
                    <label class="control-label col-md-2" style="font-weight: bold;">Existing Carousel Images</label>
                    <div class="col-md-10">
                        @foreach (var carouselImg in Model.carouselImages)
                        {
                            string imgSrc = carouselImg.mImageType + Convert.ToBase64String(carouselImg.mImage);

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="checkedCarouselImgs"
                                           id="existingCarouselImgs"
                                           value=@carouselImg.mID
                                           @{ <text> checked </text>  } />
                                    <img alt="@carouselImg.mID" src="@imgSrc" style="height: 100px; width: auto;"/>
                                </label>
                            </div>
                        }
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(model => model.homePagedata.mCarouselImgIDs, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-2 col-md-10">
                    <input multiple type="file" id="file" name="newCarouselImgs" class="form-control" accept="image/png,image/jpg,image/jpeg" />
                    @Html.ValidationMessageFor(model => model.homePagedata.mCarouselImgIDs, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.homePagedata.mWelcomeBtnUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.homePagedata.mWelcomeBtnUrl, new SelectList(Model.btnRediLinks, "key", "value", Model.homePagedata.mWelcomeBtnUrl), new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.homePagedata.mPromo1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.homePagedata.mPromo1, new SelectList(Model.promoLinks, "key", "value", Model.homePagedata.mPromo1), new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.homePagedata.mPromo2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.homePagedata.mPromo2, new SelectList(Model.promoLinks, "key", "value", Model.homePagedata.mPromo2), new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>


            <hr />

            <div id="products-page">
                <div class="pp-title-container"
                     style="background-image: url(@defaultProductBanner);"
                     id="bannerImg-input">
                    <div id="bannerImg-cover-input" style="background-color: rgba(0,0,0, @Model.homePagedata.defaultBannerImgShader);" class="pp-title-dark-layer">
                        <h2 style="color: @Model.homePagedata.mdefaultBannerTextColor" id="category-title-input" class="pp-title-text">@Model.homePagedata.mDefaultProductsBannerText</h2>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.homePagedata.mDefaultProductListImg, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-2 col-md-10">
                    <input type="file" oninput="setCategoryProps()" id="default_bannerImg" name="default_bannerImg" class="form-control" accept="image/png,image/jpg,image/jpeg" />
                    @Html.ValidationMessageFor(model => model.homePagedata.mDefaultProductListImg, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.homePagedata.mDefaultProductsBannerText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-2 col-md-10">
                    @Html.EditorFor(model => model.homePagedata.mDefaultProductsBannerText, new { htmlAttributes = new { @class = "form-control", @id = "help", @oninput = "setCategoryProps()" } })
                    @Html.ValidationMessageFor(model => model.homePagedata.mDefaultProductsBannerText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.homePagedata.mdefaultBannerTextColor, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-2 col-md-10">
                    @Html.EditorFor(model => model.homePagedata.mdefaultBannerTextColor, new { htmlAttributes = new { @class = "form-control", @type = "color", @id = "color", @oninput = "setCategoryProps()" } })
                    @Html.ValidationMessageFor(model => model.homePagedata.mdefaultBannerTextColor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.homePagedata.defaultBannerImgShader, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-2 col-md-10">
                    @Html.EditorFor(model => model.homePagedata.defaultBannerImgShader, new { htmlAttributes = new { @class = "form-control", @oninput = "setCategoryProps()", @id = "opacity", @type = "range", @min = "0", @max = "1", @step = "0.01", @style = "padding: 0;" } })
                    @Html.ValidationMessageFor(model => model.homePagedata.defaultBannerImgShader, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to Managers", "Index", "Managers")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <script src="~/Scripts/TinyMce_Client/HomePagePreview.js"></script>

    <script>
        function toggleBgImg() {
            var isSectionEnabled = document.getElementById('greetingImgBtn').checked;
            var greetingImgDestination = document.getElementById('greetingImgDestination');

            document.getElementById('greeting-img-container').style.display = isSectionEnabled
                ? "block"
                : "none";

            greetingImgDestination.style.backgroundSize = isSectionEnabled ? "cover" : "0 0";
        }

        function setGreetingImg() {
            var isSectionEnabled = document.getElementById('greetingImgBtn').checked;
            var uploadedGreetingImg = document.getElementById('greetingImg').files[0];
            var greetingImgDestination = document.getElementById('greetingImgDestination');
            var greetingBoxShader = document.getElementById('greetingShader').value;

            document.getElementById('greeting-shade').style.backgroundColor = "rgba(0,0,0," + greetingBoxShader + ")";

            if (uploadedGreetingImg && isSectionEnabled) {
                var reader = new FileReader();
                reader.readAsDataURL(uploadedGreetingImg);

                reader.onloadend = function () {
                    greetingImgDestination.style.backgroundImage = 'url("' + reader.result + '")';
                }
            }
        }

        function setCategoryProps() {
            var color = document.getElementById('color').value;
            var opacity = document.getElementById('opacity').value;
            var categoryName = document.getElementById('help').value;
            var img = document.getElementById('default_bannerImg').files[0];


            if (img) {
                var reader = new FileReader();
                reader.readAsDataURL(img);

                reader.onloadend = function () {
                    document.getElementById('bannerImg-input').style.backgroundImage = 'url("' + reader.result + '")';
                }
            }

            document.getElementById('bannerImg-cover-input').style.backgroundColor = "rgba(0,0,0," + opacity + ")";
            document.getElementById('category-title-input').innerText = categoryName;
            document.getElementById('category-title-input').style.color = color;
        }

        setGreetingImg();
        toggleBgImg();
    </script>

}

@section Pagecss
{
    <link href="~/Content/5WondersCss/HomePageCss.css"
          rel="stylesheet" type="text/css" />

    <link href="~/Content/5WondersCss/ProductList.css"
          rel="stylesheet" type="text/css" />
}
