@model FiveWonders.core.ViewModels.OrderItemViewModel

@*Admin View*@

<div style="padding: 2rem;">
    <h4>Order ID: @Model.orderItem.mBaseOrderID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Time Purchased
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order.mTimeEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order.mCustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order.mCustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order.mCustomerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order.mCustomerEmail)
        </dd>

    </dl>

    <div style="display: flex; flex-direction: row; flex-wrap:wrap;">
        @if (Model.productImages != null)
        {
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.productImages.Length; i++)
                        {
                            string liClassTag = i == 0 ? "active" : "";

                            <li data-target="#myCarousel" data-slide-to="@i" class="@liClassTag"></li>
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @for (int i = 0; i < Model.productImages.Length; i++)
                        {
                            string itemClassTag = i == 0 ? "item active" : "item";

                            <div class="@itemClassTag img-test" style="background-image: url(@Url.Content("~/Content/ProductImages/" + @Model.productImages[i]));"></div>
                        }
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        }

        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 item-data-container">

            <div class="item-data">
                <div class="item-data-inner" style="min-height: unset;">

                    <h1 class="item-data-name">@Model.orderItem.mProductName</h1>
                    <hr />

                    <div class="form-group">
                        <label class="control-label">Unit Price:</label>
                        $@Html.DisplayFor(model => model.orderItem.mPrice, "", new { htmlAttributes = new { @style = "margin: 0 auto; width: 100%;" } })
                    </div>

                    <div class="form-group">
                        <label class="control-label">Quantity:</label>
                        @Html.DisplayFor(model => model.orderItem.mQuantity, "", new { htmlAttributes = new { @style = "margin: 0 auto; width: 100%;" } })
                    </div>

                    <div class="form-group" style="margin-bottom: 2rem;">
                        @Html.LabelFor(model => (model.orderItem.mSize), htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.orderItem.mSize, "", new { htmlAttributes = new { @style = "margin: 0 auto; width: 100%;" } })
                    </div>

                    <div class="ip-customization-container">

                        <div class="form-group">
                            <label class="control-label">Custom Text:</label>
                            @Html.DisplayFor(model => model.orderItem.mCustomText, "", new { htmlAttributes = new { @style = "margin: 0 auto; width: 100%;" } })
                        </div>

                        <div class="form-group">
                            <label class="control-label">Custom Number:</label>
                            @Html.DisplayFor(model => model.orderItem.mCustomNumber, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "0", placeholder = "0-99", @style = "margin: 0 auto; width: 100%;" } })
                        </div>

                        <div class="form-group">
                            <label class="control-label">Custom Date:</label>
                            @Html.DisplayFor(model => model.orderItem.mCustomDate, "", new { htmlAttributes = new { @type = "date", @style = "margin: 0 auto; width: 100%;" } })
                        </div>

                        <div class="form-group">
                            <label class="control-label">Custom Time:</label>
                            @Html.DisplayFor(model => model.orderItem.mCustomTime, "", new { htmlAttributes = new { @placeholder = "0:00 - 12:59", @style = "margin: 0 auto; width: 100%;" } })
                        </div>

                        <div class="form-group">
                            <label class="control-label">Additional Customizations:</label>
                            @if (Model.customLists != null && Model.customLists.Count > 0)
                            {
                                <ul style="list-style-type: none;">
                                    @foreach (var listOption in Model.customLists.Keys)
                                    {
                                        <li>
                                            @listOption: @Model.customLists[listOption]
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Back to Order", "Details", new { Id = Model.orderItem.mBaseOrderID })
        </p>
    }

</div>

@section Scripts {
    <!-- Include jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
}

@section Pagecss
{
    <link href="~/Content/5WondersCss/ItemPage.css"
          rel="stylesheet" type="text/css" />
}