@model FiveWonders.core.ViewModels.ProductsListViewModel

<div id="products-page">
    <div class="pp-title-container" 
         style="background-image: url(@Url.Content("~/Content/" + Model.folderName + "/" + Model.imgUrl));">
        <div style="background-color: rgba(0,0,0, @Model.mImgShaderAmount);" class="pp-title-dark-layer">
            <h2 class="pp-title-text" style="color: @Model.pageTitleColor">@Model.pageTitle</h2>
        </div>
    </div>

    <div class="pp-products-section">
        @{string classTags = "col-lg-3 col-md-4 col-sm-4 col-xs-6";}

        @foreach (var product in Model.products)
        {
            string[] currentImageFiles = product.mImage.Split(',');
            string firstImage = currentImageFiles[0];

            <div class="@classTags fw-card-container pp-card-container" style="padding: 0 1vw;">
                <a href="/products/item/@product.mID" class="fw-card-a" >
                    <div class="fw-product-container">
                        <div class="fw-card" style="box-shadow: none;">
                            <h4 class="fw-card-title">@product.mName</h4>
                            <img
                                 src="@Url.Content("~/Content/ProductImages/" + firstImage)"
                                 alt="@product.mName"
                                 class="fw-card-img pp-fw-card-img" />
                            <p class="fw-card-price">$@product.mPrice</p>
                            <p class="btn btn-primary btn-lg fw-card-btn">View Product</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
