@model FiveWonders.core.ViewModels.ProductsListViewModel

@{ 
    string bannerImg = !String.IsNullOrWhiteSpace(Model.folderName) && !String.IsNullOrWhiteSpace(Model.imgUrl)
        ? @Url.Content("~/Content/" + Model.folderName + "/" + Model.imgUrl)
        : "";
}

<div id="products-page">
    <div class="pp-title-container"
         style="background-image: url(@bannerImg);">
        <div style="background-color: rgba(0,0,0, @Model.mImgShaderAmount);" class="pp-title-dark-layer">
            <h2 class="pp-title-text" style="color: @Model.pageTitleColor">@Model.pageTitle</h2>
        </div>
    </div>

    @if (Model.products.Length > 0)
    {
        <div class="pp-products-section">
            @{string classTags = "col-lg-4 col-md-6 col-sm-6 col-xs-6";}

            @for (int i = 0; i < Model.products.Length; i++)
            {
                FiveWonders.core.ViewModels.ProductData product = Model.products[i];
                string[] currentImageFiles = product.product.mImage.Split(',');
                string firstImage = currentImageFiles[0];

                <div class="@classTags pp-card-container">
                    <a href="/products/item/@product.product.mID" class="fw-card-a">
                        <div class="fw-product-container">
                            <div class="fw-card">
                                <div style="border: solid 1px lightgrey; background-color: white;">

                                    <div class="fw-card-price-container">
                                        <div class="fw-card-price-container-cover">
                                            <h4 class="fw-card-price fw-card-category" style="text-align: left; font-weight: normal;">@product.productCategoryName</h4>
                                            <h4 class="fw-card-price" style="text-align:right;">$@product.product.mPrice</h4>
                                        </div>
                                    </div>

                                    <img alt="@product.product.mName"
                                            src="@Url.Content("~/Content/ProductImages/" + firstImage)"
                                            class="fw-card-img"/>

                                    <h3 class="fw-card-title">@product.product.mName</h3>
                                    <p class="btn btn-primary btn-lg fw-card-btn">View Product</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>

        <nav aria-label="Page navigation" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="pagination">
                @if(ViewBag.CurrentPage - 1 > 0)
                {
                    <li>
                        <a href="@Url.Action("Index", "Products", new { category = Request.Params["category"], subcategory = ViewBag.subs, productName = Request.Params["productName"], page = (ViewBag.CurrentPage - 1)})" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = 0; i < ViewBag.PageNumbers; i++)
                {
                    <li><a href="@Url.Action("Index", "Products", new { category = Request.Params["category"], subcategory = ViewBag.subs, productName = Request.Params["productName"], page = (i+1)})">@(i+1)</a></li>
                }

                @if(ViewBag.CurrentPage + 1 <= ViewBag.PageNumbers)
                {
                    <li>
                        <a href="@Url.Action("Index", "Products", new { category = Request.Params["category"], subcategory = ViewBag.subs, productName = Request.Params["productName"], page = (ViewBag.CurrentPage <= 0 ? 1 : ViewBag.CurrentPage + 1)})" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
    else
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>No Products found that match search criteria.</h2>
        </div>
    }
</div>


@section Pagecss
{
    <link href="~/Content/5WondersCss/Card.css"
          rel="stylesheet" type="text/css" />
    
    <link href="~/Content/5WondersCss/ProductList.css"
          rel="stylesheet" type="text/css" />
}
