@model FiveWonders.core.ViewModels.ProductsListViewModel

<div id="products-page">
    <div class="pp-title-container"
         style="background-image: url(@Url.Content("~/Content/" + Model.folderName + "/" + Model.imgUrl));">
        <div style="background-color: rgba(0,0,0, @Model.mImgShaderAmount);" class="pp-title-dark-layer">
            <h2 class="pp-title-text" style="color: @Model.pageTitleColor">@Model.pageTitle</h2>
        </div>
    </div>

    <div class="pp-products-section">
        @{string classTags = "col-lg-3 col-md-4 col-sm-4 col-xs-6";}

        @foreach (var product in Model.products)
        {
            string[] currentImageFiles = product.mImage.Split(',');
            string firstImage = currentImageFiles[0];

            <div class="@classTags pp-card-container" style="padding: 0 1vw;">
                <a href="/products/item/@product.mID" class="fw-card-a">
                    <div class="fw-product-container">
                        <div class="fw-card" style="box-shadow: none;">
                            <h2 class="fw-card-title">@product.mName</h2>
                            <img src="@Url.Content("~/Content/ProductImages/" + firstImage)"
                                 alt="@product.mName"
                                 class="fw-card-img pp-fw-card-img" />
                            <h3 class="fw-card-price">$@product.mPrice</h3>
                            <p class="btn btn-primary btn-lg fw-card-btn">View Product</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

    @if(Model.products.Length == 0)
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>No Products found that match search criteria.</h2>
        </div>
    }
</div>


@section Pagecss
{
    <link href="~/Content/5WondersCss/Card.css"
          rel="stylesheet" type="text/css" />
    
    <link href="~/Content/5WondersCss/ProductList.css"
          rel="stylesheet" type="text/css" />
}
