@model FiveWonders.core.ViewModels.ProductOrderViewModel

<div id="item-page">

    <div class="col-lg-6 col-md-5 col-sm-5 col-xs-12 ip-product-img-container">
        <img class="ip-product-img" src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/110117948_283600756398816_9044309464005316960_n.jpg?_nc_cat=101&_nc_sid=8bfeb9&_nc_ohc=u4Qvkou0IwcAX8FqcOb&_nc_ht=scontent-dfw5-1.xx&oh=80f5d3540500543d53df86977d0981c6&oe=5F3E541F" alt="@Model.product.mImage"/>
    </div>

    <div class="col-lg-6 col-md-7 col-sm-7 col-xs-12 item-data-container">
        
        <div class="item-data">
            <h1 class="item-data-name">@Model.product.mName</h1>
            <h3 class="item-data-price">$@Model.product.mPrice</h3>

            <div class="item-data-form">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(model => model.productOrder.mQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.productOrder.mQuantity, new { htmlAttributes = new { @type = "number", @min = "1", @step = "1", @value = "1" } })
                        @Html.ValidationMessageFor(model => model.productOrder.mQuantity, "", new { @class = "text-danger" })
                    </div>

                    if (Model.sizeChart != null)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.productOrder.mSize, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownListFor(model => model.productOrder.mSize, new SelectList(Model.sizeChart.mSizesToDisplay.Split(',')), new { htmlAttributes = new { } })
                            @Html.ValidationMessageFor(model => model.productOrder.mSize, "", new { @class = "text-danger" })
                        </div>
                    }

                    <div class="ip-add-to-cart-btn-container">
                        <input type="submit" value="Add to Cart" class="btn btn-primary ip-add-to-cart-btn" />
                    </div>

                }

            </div>
            
            <div class="item-data-desc-container">
                <h4 class="item-data-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
            </div>

        </div>
        
    </div>

    @if (Model.sizeChart != null)
    {
        <div class="col-12 sizechart-container">
            <img class="ip-sizechart" src="https://cdn.shopify.com/s/files/1/1402/3573/files/size-chart_new_both_centered.jpg?v=1566939590" />
        </div>
    }

</div>
