@model FiveWonders.core.ViewModels.ProductOrderViewModel

    <div id="item-page">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ip-product-img-container">
            <img class="ip-product-img" 
                 src="~/Content/ProductImages/@Model.product.mImage"
                 alt="@Model.product.mName" />
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item-data-container">

            <div class="item-data">
                <h1 class="item-data-name">@Model.product.mName</h1>
                <h3 class="item-data-price">$@Model.product.mPrice</h3>

                <div class="item-data-form">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()


                        if (Model.sizeChart != null)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.productOrder.mSize, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.DropDownListFor(model => model.productOrder.mSize, new SelectList(Model.sizeChart.mSizesToDisplay.Split(',')), new { htmlAttributes = new { } })
                                @Html.ValidationMessageFor(model => model.productOrder.mSize, "", new { @class = "text-danger" })
                            </div>
                        }

                        if (Model.product.isCustomizable)
                        {
                            <div class="ip-customization-container">
                                <h3 class="ip-customization-label">Customizable Product Text:</h3>
                                <h4 class="ip-customization-perma-text">@Model.product.mMessage</h4>
                                @Html.EditorFor(model => model.productOrder.mProductText, "", new { htmlAttributes = new { @class = "text-danger", placeholder = "Recipient Name" } })
                            </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(model => model.productOrder.mQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.productOrder.mQuantity, new { htmlAttributes = new { @type = "number", @min = "1", @step = "1", @value = "1" } })
                            @Html.ValidationMessageFor(model => model.productOrder.mQuantity, "", new { @class = "text-danger" })
                        </div>

                        <div class="ip-add-to-cart-btn-container">
                            <input type="submit" value="Add to Cart" class="btn btn-primary ip-add-to-cart-btn" />
                        </div>
                    }

                </div>


            </div>

        </div>

        <div class="col-12 item-data-desc-container">
            <h3 style="font-weight: bold;">Description</h3>
            <h4>@Model.product.mDesc</h4>
        </div>

        @if (Model.sizeChart != null)
        {
            <div class="col-12 sizechart-container">
                <img class="ip-sizechart" src="https://cdn.shopify.com/s/files/1/1402/3573/files/size-chart_new_both_centered.jpg?v=1566939590" />
            </div>
        }

    </div>

