@model IEnumerable<FiveWonders.core.Models.Product>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mTimeEntered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mSubCategories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mSizeChart)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mTimeEntered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mSubCategories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mSizeChart)
        </td>
    </tr>
}

</table>
