<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - 5 Wonders Balloons</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("Pagecss", required: false)
    </head>
    <body>
        @{Html.RenderAction("_Index", "NavBar");}
        <div class="container body-content base-container">
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p style="text-align: center">&copy; @DateTime.Now.Year - 5 Wonders Party</p>

            <div style="text-align: center;">
                @{Html.RenderAction("Index", "SocialMedia", new { Id = "4" });}
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
