<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - 5 Wonders Balloons</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("Pagecss", required: false)
    </head>
    <body>

        @if(ViewContext.RouteData.Values["controller"].ToString() == "Home")
        {
            <div style="padding: 0; text-align: center;">
                <img src="@Url.Content("~/Content/Home/Logo.png")" style="height: 20rem; width: auto; margin: 0;" />
            </div>
        }

        <div class="navbar navbar-default sticky-top FWonders-navbar" style="padding: 0; margin: 0; top: 0px; z-index: 100; position: sticky !important; border: none; border-bottom: solid black 1px;">
            <div class="container FWonders-navbar-container FWonders-navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Five Wonders", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @{Html.RenderAction("Index", "NavBar");}
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content base-container">
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p style="text-align: center">&copy; @DateTime.Now.Year - 5 Wonders Party</p>

            <div style="text-align: center;">
                @{Html.RenderAction("Index", "SocialMedia", new { Id = "4" });}
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
