<!DOCTYPE html>
<html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 5 Wonders Balloons</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top FWonders-navbar">
        <div class="container FWonders-navbar-container FWonders-navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Five Wonders", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @{Html.RenderAction("Index", "NavBar");}
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content base-container">
        @RenderBody()
    </div>
    
    <hr />
    <footer>
        <p style="text-align: center">&copy; @DateTime.Now.Year - 5 Wonders Party</p>

        <div style="text-align: center;">
            <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/5wonders/"><img style="height: 4vh;" src="~/Content/Icons/Facebook 64.png"/></a>
            <a rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/5wondersballoons/"><img style="height: 4vh;" src="~/Content/Icons/Instagram 64.png"/></a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
