@model FiveWonders.core.Models.ServicesMessage

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServicesMessage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mTimeEntered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mTimeEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mContent)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
