@model FiveWonders.core.Models.ServicesMessage

<div>
    <h4>ServicesMessage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mTimeEntered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mTimeEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mContent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Delete", "Delete", new { id = Model.mID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
