@model FiveWonders.core.Models.FWonderOrder

<div style="padding: 2rem;">
    <h4>Order ID: @Model.mID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Time Purchased
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mTimeEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCustomerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCustomerEmail)
        </dd>

    </dl>

    @if (Model != null)
    {
        <h2 style="text-align: center;">Order Items</h2>
        <hr />
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pp-products-section">
            @{string classTags = "col-lg-4 col-md-6 col-sm-6 col-xs-12";}

            @foreach (var item in Model.mOrderItems)
            {

                <div class="@classTags pp-card-container">
                    <div class="fw-product-container">
                        <a href="@Url.Action("OrderItemDetails", "Orders", new { Id = item.mID, baseOrderId = Model.mID, VerificationId = Model.mVerificationId })" style="text-decoration: none;">
                            <div class="fw-card">
                                <div style="border: solid 1px lightgrey; background-color: white;">

                                    <h3 class="fw-card-title">@item.mProductName</h3>

                                    <hr />

                                    <div class="fw-card-price-container-cover">
                                        <h4 class="fw-card-price fw-card-category" style="text-align: left; font-weight: normal;">Qty: @item.mQuantity</h4>
                                        <h4 class="fw-card-price" style="text-align:right; font-weight: normal;">Price: $@item.mPrice</h4>
                                    </div>

                                    <div style="display: flex; flex-direction: row;">
                                        <p href="@Url.Action("OrderItemDetails", "Orders", new { Id = item.mID, baseOrderId = Model.mID, VerificationId = Model.mVerificationId })" class="btn btn-lg basket-card-btn" style="color: black;">View Item Details</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
</div>

@section Pagecss
{
    <link href="~/Content/5WondersCss/Card.css"
          rel="stylesheet" type="text/css" />

    <link href="~/Content/5WondersCss/ProductList.css"
          rel="stylesheet" type="text/css" />

    <link href="~/Content/5WondersCss/BasketPage.css" rel="stylesheet" />
}