@model FiveWonders.core.Models.FWonderOrder

<div style="padding: 2rem;">
    <h4>Order ID: @Model.mID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Time Purchased
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mTimeEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCustomerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCustomerEmail)
        </dd>

    </dl>
</div>

@if (Model != null)
{
    <table class="table">

        <tr>
            <td>
                Product Name
            </td>
            <td>
                Product Price
            </td>
            <td>
                Quantity
            </td>
            <td>
                Size
            </td>
            <td>
                Total Price
            </td>
            <td>
                Additional Details
            </td>
        </tr>

        @foreach (var item in Model.mOrderItems)
        {
            <tr>
                <td>
                    @item.mProductName
                </td>
                <td>
                    @item.mPrice
                </td>
                <td>
                    @item.mQuantity
                </td>
                <td>
                    @item.mSize
                </td>
                <td>
                    @String.Format("{0:c}", (item.mPrice * item.mQuantity))
                </td>
                <td>
                    @Html.ActionLink("View Order Item", "OrderItemDetails", new { Id = item.mID, baseOrderId = Model.mID, VerificationId = Model.mVerificationId })
                </td>
            </tr>
        }

        <tr>
            <td>
                @String.Format("Total Paid: ({0} items): {1:c}", (from q in Model.mOrderItems select q.mQuantity).Sum(), (from p in Model.mOrderItems select p.mPrice * p.mQuantity).Sum())
            </td>
        </tr>

    </table>
}

@if(User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}

