@model Dictionary<string, HashSet<string>>

    <ul class="nav navbar-nav">

        @foreach (string key in Model.Keys)
        {
                if(Model[key].Count != 0)
                {
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">@key</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/products/?category=@key">View All @key</a></li>
                            @foreach (string sub in Model[key])
                            {
                                <li><a href="/products/?category=@key&subcategory=@sub">@sub</a></li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li><a href="/products/?category=@key">@key</a></li>
                }
            
        }

        <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Themes</span><span class="caret"></span></a>
            <ul class="dropdown-menu">
                @foreach (var x in ViewBag.SubsWithThemes)
                {
                    <li><a href="/products/?subcategory=@x">@x</a></li>
                }
            </ul>
        </li>
    </ul>